# File that are going to be encrypted
variables.sh filter=git-crypt diff=git-crypt

# Making sure that .gitattributes and other git related files are neer encrypted.
.gitattributes !filter !diff
.gitignore !filter !diff
